<!DOCTYPE html>
<template id="temp-cards-block">
	<!-- <style>
		@import url("/src/components/cards/style.css");
	</style> -->
	<!-- Cards Block -->
	<section class="cards-section">
		<div class="cards-container">
			<div class="cards-content">
				<div class="card-title-container">
					<h1 class="cards-title">Taste the Colours</h1>
				</div>
				<div class="cards-grid">
					<div class="card">
						<a class="card-link" data-card-id="red-sweets">
							<div class="card-image" onclick="handleAnchorCard()">
								<img src="../../images/card@2x.jpg" alt="Sweets Red">
							</div>
						</a>
						<div class="card-footer">
							<h3 class="card-title">Red</h3>
							<p class="card-description">
								Red foods remind us of the berries and soft fruits, so we
								anticipate a sweet taste.
							</p>
						</div>
					</div>
					<div class="card">
						<a class="card-link" data-card-id="green-sweets">
							<div class="card-image" onclick="handleAnchorCard()">
								<img src="../../images/sweet-green-med.jpg" alt="Sweets Green">
							</div>
						</a>
						<div class="card-footer">
							<h3 class="card-title">Green</h3>
							<p class="card-description">
								Fresh, zingy green colours are reminiscent of unripe fruit, promising 
								sour or acid flavours
							</p>
						</div>
					</div>
					<div class="card">
						<a class="card-link" data-card-id="white-sweets">
							<div class="card-image" onclick="handleAnchorCard()">
								<img src="../../images/sweet-white-med.jpg" alt="Sweets White">
							</div>
						</a>
						<div class="card-footer">
							<h3 class="card-title">White</h3>
							<p class="card-description">
								White foods evoke memories of salt and salty flavours, driving 
								the expectation of a savoury treat.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</template>
